<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smash.pokeapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PokeApp">
        <activity android:name=".CadastrarPokemons"></activity>
        <activity android:name=".AtualizarPokemonActivity" />
        <activity android:name=".ExibirPokemonsActivity" />
        <activity
            android:name=".CadastrarTreinadores"
            android:exported="true" />
        <activity
            android:name=".ExibeTreinadoresActivity"
            android:exported="true" />
        <activity
            android:name=".AttTreinadorActivity"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>